@page
@model RegisterModel
@{
	ViewData["Title"] = "Registro";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/sb-admin-2.min.css" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/identity.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Proyecto2_MVC_AaronVillalobosArguedas.styles.css" asp-append-version="true" />
</head>

<body class="bg-gradient-primary">
	<div class="container">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Crear una cuenta de usuario</h1>
							</div>
							<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-floating mt-2">
									<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
									<label asp-for="Input.Email"></label>
									<span asp-validation-for="Input.Email" class="text-danger"></span>
								</div>
								<div class="form-floating mt-2">
									<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
									<label asp-for="Input.Password"></label>
									<span asp-validation-for="Input.Password" class="text-danger"></span>
								</div>
								<div class="form-floating mt-2">
									<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
									<label asp-for="Input.ConfirmPassword"></label>
									<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
								</div>
								<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Registrarse</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}