@{
    ViewData["Title"] = "Sobre este Proyecto";
}
<h1>@ViewData["Title"]</h1>

<div class="mt-3">
    <p>Universidad Estatal a Distancia.</p>
    <p>Costa Rica</p>
    <hr />
    <p>Programaci&oacute;n Avanzada en Web.</p>
    <p>Estudiante: Aaron Villalobos Arguedas.</p>
    <p>C&eacute;dula: 402300560</p>
</div>